@model Farias_Inmobiliaria.Models.Inmueble

@{
    ViewData["Title"] = "Detalles";
}

<h1>Detalles</h1>

<div>
    <h4>Inmueble</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdInmueble)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdInmueble)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Direccion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Direccion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Superficie)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Superficie)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Latitud)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Latitud)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Longitud)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Longitud)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Uso)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Uso)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tipo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tipo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ambientes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ambientes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrecioAproximado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrecioAproximado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdPropietario)
        </dt>
        <dd class = "col-sm-10">
            @(Model.Duenio.Nombre + " " + Model.Duenio.Apellido)
        </dd>
        
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdInmueble }) |
    <a asp-action="Index">Volver a la Lista</a>
</div>
