@model IEnumerable<Farias_Inmobiliaria.Models.Inmueble>

@{
    ViewData["Title"] = "Inmuebles";
    Propietario propietario = ViewBag.vista;
    IList<Contrato> lista = ViewBag.listaContratos;
    String soloConContratos = ViewBag.soloContratos;

}

<h1>Listado de Inmuebles</h1>
@if (propietario != null)
{
    <h2>@propietario.Nombre + @propietario.Apellido</h2>
}

<p>
    <a class="btn btn-primary" asp-action="Create">Crear Nuevo</a>
    <a class="btn btn-primary" asp-action="IndexConContrato">Inmuebles con Contratos</a>
    <button type="button" id="crearModal" class="btn btn-primary" style="width:200px" data-target="#myModal">Buscar fechas</button>

</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdInmueble)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Direccion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tipo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MontoAlquilerPropuesto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Disponibilidad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdPropietario)
            </th>

            <th>Acciones</th>
            <th>
                Contratos
            </th>
        </tr>
    </thead>
    <tbody>

        @if (soloConContratos == "soloContratos")
        {
            <h1>Hola</h1>
        }


        @if (Model != null) foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.IdInmueble)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Direccion)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Tipo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MontoAlquilerPropuesto)
                    </td>
                    <td>
                        @(item.Disponibilidad == false ? "No disponible" : "Disponible")
                    </td>
                    <td>
                        @(item.Duenio.Nombre + " " + item.Duenio.Apellido)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.IdInmueble" title="Editar"><span class="lnr lnr-pencil"></span></a>&nbsp; |
                        <a asp-action="Details" asp-route-id="@item.IdInmueble" title="Detalles"><span class="lnr lnr-eye"></span></a>&nbsp; |
                        <a asp-action="Delete" asp-route-id="@item.IdInmueble" title="Eliminar"><span class="lnr lnr-cross"></span></a>

                    </td>
                    <td>
                        @foreach (Contrato contrato in lista)
                        {
                            @if (contrato.Inmueble.IdInmueble == item.IdInmueble)
                            {
                                <a class="btn btn-secondary" asp-controller="Contrato" asp-action="IndexUnInmueble" asp-route-id="@item.IdInmueble" title="Contratos">Contratos</a>
                                break;
                            }

                        }

                    </td>
                </tr>
            }
    </tbody>
</table>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="Fechas" aria-hidden="true" data-url="@Url.Action("ModalFechas","Inmueble")"></div>

<div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="Disponibles" aria-hidden="true" ></div>


<script type="text/javascript" onl>

    tieneContrato(1002);

    var selCont = document.getElementById("selectContrato");
    var elNumero = document.getElementById("numPago");
    var importe = document.getElementById("importe");
    var elMonto = document.getElementById("elImporte");


    function tieneContrato(idInmueble) {

			return $.ajax({
				url: `@Url.Action("tieneContrato", "Contrato")/${idInmueble}`,

            }).done(res => {
                console.log(res.datos.tiene)
                console.log("Pregunta si tiene contrato: ", res.datos.tiene);
                //console.log("Cantidad: " + res.tiene);
                //elNumero.innerHTML = res.datos.tiene;
                //elNumero.value = res.num + "";

			}).fail(res => {
				console.log("Error: ", res.num);
            });
    }

    $(document).ready(function () {

        $('#crearModal').click(function () {

            var url = $("#myModal").data("url");
            $.get(url, function (data) {

                $("#myModal").html(data);
                $("#myModal").modal("show");

            });

        });

    });

</script>

