<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.linearicons.com/free/1.0.0/icon-font.min.css">
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/StyleSheet.css" />

    <script src="https://kit.fontawesome.com/88678501cd.js" crossorigin="anonymous"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <title>@ViewData["Title"] - Farias Inmobiliaria</title>
    <style>

        #menuSuperior {
            background-color: black
        }
    </style>

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">

            <div id="menuSuperior" class="container d-flex flex-column flex-md-row justify-content-between">
                @if (!User.Identity.IsAuthenticated)
                {
                    <a class="py-2" asp-controller="Home" asp-action="Index"><i class="fa fa-bars" style="font-size:24px"></i> Inicio</a>
                    <a class="py-2 d-none d-md-inline-block float-right" href="@Url.Link("login", null)"><i class="fa fa-sign-in" style="font-size:24px"></i> Acceder</a>
                }
                else
                {
                    <div>
                        <a class="py-2 d-none d-md-inline-block" asp-controller="Home" asp-action="Index"><i class="fa fa-bars" style="font-size:24px"></i> Inicio</a>

                    </div>
                    <div>

                        <!--<a class="py-2 d-none d-md-inline-block" asp-controller="Home" asp-action="Index"><span class="lnr lnr-user"></span> Inicio</a>-->
                        <a class="py-2 d-none d-md-inline-block" asp-controller="Propietario" asp-action="Index"><i class="fa fa-user" style="font-size:24px"></i> Propietarios</a>
                        <a class="py-2 d-none d-md-inline-block" asp-controller="Inquilino" asp-action="Index"><i class='fas fa-house-user' style='font-size:24px'></i> Inquilinos</a>
                        <a class="py-2 d-none d-md-inline-block" asp-controller="Inmueble" asp-action="Index"><i class='fas fa-building' style='font-size:24px'></i> Inmuebles</a>
                        <a class="py-2 d-none d-md-inline-block" asp-controller="Garante" asp-action="Index"><i class="fa fa-group" style="font-size:24px"></i> Garantes</a>
                        <a class="py-2 d-none d-md-inline-block" asp-controller="Contrato" asp-action="Index"><i class='far fa-address-card' style='font-size:24px'></i> Contratos</a>
                        <a class="py-2 d-none d-md-inline-block" asp-controller="Pago" asp-action="Index"><i class='fas fa-hand-holding-usd' style='font-size:24px'></i> Pagos</a>
                        @if (User.IsInRole("Administrador"))
                        {
                            <a class="py-2 d-none d-md-inline-block" asp-controller="Usuario" asp-action="Index"><i class="fa fa-user-plus" style="font-size:24px"></i> Usuarios</a>
                        }
                    </div>

                    <div class="dropdown">
                        <a class="btn btn-primary dropdown-toggle text-light" href="#" role="button" id="userMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-reference="parent" data-display="static">
                            <span class="lnr lnr-user"></span> @User.Identity.Name
                        </a>

                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <a class="dropdown-item text-dark" asp-controller="Usuario" asp-action="Perfil"><i class="fa fa-user-o" style="font-size:24px"></i> Perfil</a>
                            <a class="dropdown-item text-dark" asp-controller="Usuario" asp-action="Logout"><i class="fa fa-sign-out" style="font-size:24px"></i> Salir</a>
                        </div>
                    </div>


                }
            </div>
        </nav>
    </header>
    <main role="main" class="container">
        <div class="">

            @if (ViewBag.Id != null)// Se puso nombre a la clase arriba de esto , se cambio la clase de pb-3 a container
            {//alta exitosa
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    <strong>¡Éxito!</strong> La entidad fue dada de alta con id: @ViewBag.Id
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true"><span class="lnr lnr-cross-circle"></span></span>
                    </button>
                </div>
            }
            else if (ViewBag.Mensaje != null)
            {//cartel general
                <div class="alert alert-info alert-dismissible fade show" role="alert">
                    <strong>Información:</strong> @ViewBag.Mensaje
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true"><span class="lnr lnr-cross-circle"></span></span>
                    </button>
                </div>
            }
            else if (ViewBag.Error != null)
            {// Error
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <strong>¡Error!</strong> @ViewBag.Error
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true"><span class="lnr lnr-cross-circle"></span></span>
                    </button>
                </div>
            }
            else if (!String.IsNullOrWhiteSpace(ViewBag.Error))
            {//ocurrió un error
                <environment names="Development">
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        <strong>¡Error!</strong> Ocurrió: @ViewBag.Error
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true"><span class="lnr lnr-cross-circle"></span></span>
                        </button>
                        <a class="btn btn-primary" data-toggle="collapse" href="#multiCollapseExample1" role="button" aria-expanded="false"><span class="lnr lnr-plus-circle"></span></a>
                        <div class="collapse multi-collapse" id="multiCollapseExample1">
                            @ViewBag.StackTrace
                        </div>
                    </div>
                </environment>
            }
            <div class="m-1 p-1">
                @RenderBody()
            </div>
        </div>

    </main>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - Inmobiliaria Farias - <a asp-area="" asp-controller="Home" asp-action="Privacy">Politicas de Privacidad</a>
        </div>
    </footer>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
