@model Farias_Inmobiliaria.Models.Contrato

@{
    ViewData["Title"] = "Editar";
    var Garantes = (IList<Garante>)ViewBag.Garantes;
    var Inmuebles = (IList<Inmueble>)ViewBag.Inmuebles;
    var Inquilinos = (IList<Inquilino>)ViewBag.Inquilinos;

    var cancelado = @Model.EstadoCancelado;
}

<h1>Editar</h1>

<h4>Contrato</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="IdContrato" class="control-label"></label>
                <input asp-for="IdContrato" class="form-control" disabled />
                <span asp-validation-for="IdContrato" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdGarante" class="control-label"></label>

                @if (cancelado == true)
                {
                    <select class="form-control" name="IdGarante" disabled>
                        @foreach (var item in Garantes)
                        {
                            @:<option @(item.IdGarante == Model.IdGarante ? "selected" : "") value="@item.IdGarante">@(item.Nombre + " " + item.Apellido)</option>
                        }
                    </select>
                    <span asp-validation-for="IdGarante" class="text-danger"></span>
                }
                else
                {
                    <select class="form-control" name="IdGarante">
                        @foreach (var item in Garantes)
                        {
                            @:<option @(item.IdGarante == Model.IdGarante ? "selected" : "") value="@item.IdGarante">@(item.Nombre + " " + item.Apellido)</option>
                        }
                    </select>
                    <span asp-validation-for="IdGarante" class="text-danger"></span>
                }

            </div>
            <div class="form-group">
                <label asp-for="IdInmueble" class="control-label"></label>

                <select class="form-control" name="IdInmueble">
                    @foreach (var item in Inmuebles)
                    {
                        @:<option @(item.IdInmueble == Model.IdInmueble ? "selected" : "") value="@item.IdInmueble">@(item.Tipo + " " + item.Direccion)</option>
                    }
                </select>

                <span asp-validation-for="IdInmueble" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdInquilino" class="control-label"></label>

                <select class="form-control" name="IdInquilino">
                    @foreach (var item in Inquilinos)
                    {
                        @:<option @(item.IdInquilino == Model.IdInquilino ? "selected" : "") value="@item.IdInquilino">@(item.Nombre + " " + item.Apellido)</option>
                    }
                </select>

                <span asp-validation-for="IdInquilino" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaInicio" class="control-label"></label>
                <input type="date" asp-for="FechaInicio" class="form-control" />
                <span asp-validation-for="FechaInicio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaFin" class="control-label"></label>
                <input type="date" asp-for="FechaFin" class="form-control" />
                <span asp-validation-for="FechaFin" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MontoAlquiler" class="control-label"></label>
                <input asp-for="MontoAlquiler" class="form-control" />
                <span asp-validation-for="MontoAlquiler" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-primary" /> |
                <a asp-action="Index" class="btn btn-primary">Volver a la Lista</a>
            </div>
        </form>
    </div>
</div>

<div>

</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
