@model IEnumerable<Farias_Inmobiliaria.Models.Contrato>

@{
    ViewData["Title"] = "Contratos";
}

@if (ViewBag.vigentes == "vigentes")
{
    <h1>Listado de Contratos Vigentes</h1>

}
else
{
    <h1>Listado de Contratos</h1>

}

<p>
    <a class="btn btn-primary" asp-action="Create">Crear Nuevo</a>
    @if (ViewBag.vigentes == "vigentes")
    {
        <a class="btn btn-primary" asp-action="Index">Ver todos</a>

    }
    else
    {
        <a class="btn btn-primary" asp-action="IndexSoloVigentes">Ver solo Vigentes</a>
    }
</p>

@if (Model != null)
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.IdContrato)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IdGarante)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IdInmueble)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IdInquilino)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FechaInicio)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FechaFin)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MontoAlquiler)
                </th>
                <th>
                    Acciones
                </th>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.IdContrato)
                    </td>
                    <td>
                        @(item.Garante.Nombre + " " + item.Garante.Apellido)
                    </td>
                    <td>
                        @(item.Inmueble.Tipo + "-" + item.Inmueble.Direccion)
                    </td>
                    <td>
                        @(item.Inquilino.Nombre + " " + item.Inquilino.Apellido)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FechaInicio)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FechaFin)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MontoAlquiler)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.IdContrato" title="Editar"><span class="lnr lnr-pencil"></span></a>&nbsp; |
                        <a asp-action="Details" asp-route-id="@item.IdContrato" title="Detalles"><span class="lnr lnr-eye"></span></a>&nbsp; |
                        <a asp-action="Delete" asp-route-id="@item.IdContrato" title="Eliminar"><span class="lnr lnr-cross"></span></a>
                        <a asp-action="Delete" asp-route-id="@item.IdContrato" title="Renovar"><span class="lnr lnr-sync"></span></a>
                        <a asp-action="Cancelar" asp-route-id="@item.IdContrato" title="Cancelacion anticipada"><span class="lnr lnr-hand"></span></a>
                    </td>
                </tr>

            }

        </tbody>
    </table>
}
else
{
    <p><strong>No hay contratos!</strong></p>
}