@model Farias_Inmobiliaria.Models.Usuario

@{
    string url = ViewBag.url;
}

<h1>@ViewBag.Title</h1>

<h4>Usuario</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Id" class="control-label"></label>
                <input asp-for="Id" class="form-control" disabled />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Apellido" class="control-label"></label>
                <input asp-for="Apellido" class="form-control" />
                <span asp-validation-for="Apellido" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DNI" class="control-label"></label>
                <input asp-for="DNI" class="form-control" />
                <span asp-validation-for="DNI" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Avatar" class="control-label"></label><br />
                @if (Model.Avatar != "")
                {
                    <img src="@Model.Avatar" width="200" alt="@Model.Avatar" />
                }
                else
                {
                    <p>Sin avatar</p>
                }
            </div>

            <div class="form-group">

                <button type="button" id="crearModal" class="btn btn-primary" style="width:200px" data-target="#myModal">Cambiar Avatar</button>

                <!--
                            exampleModalLong
                            myModal
                          <input type="file" asp-for="AvatarFile" class="from-control" />
                          <span asp-validation-for="AvatarFile" class="text-danger"></span>
            -->
            </div>

            @if (User.IsInRole("Administrador") || User.IsInRole("SuperAdministrador"))
            {
                <div class="form-group">
                    <label class="control-label">Rol</label>
                    <select class="form-control" name="Rol">
                        @foreach (var kvp in (IDictionary<int, string>)ViewBag.Roles)
                        {
                            @:<option @(kvp.Key == Model.Rol ? "selected" : "") value="@kvp.Key">@kvp.Value</option>
                        }
                    </select>
                    <span asp-validation-for="Rol" class="text-danger"></span>
                </div>
            }

            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-primary" /> |

                @if (url != null)
                {
                    <a href="@url" class="btn btn-primary">Volver</a>

                }
                else
                {
                    <a asp-action="Index" class="btn btn-primary">Volver a la lista</a>

                }

            </div>
        </form>

        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="Avatar" aria-hidden="true" data-url="@Url.Action("EditAvatar","Usuario", new { id = Model.Id })"></div>
    </div>
</div>

<div>

</div>


<script type="text/javascript">

    $(document).ready(function () {

        $('#crearModal').click(function () {

            var url = $("#myModal").data("url");
            $.get(url, function (data) {

                $("#myModal").html(data);
                $("#myModal").modal("show");

            });

        });

    });

</script>




@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
