@model IEnumerable<Farias_Inmobiliaria.Models.Pago>

@{
    ViewData["Title"] = "Listado de Pagos";
}

<h1>Listado de Pagos</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Crear Nuevo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdPago)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumeroPago)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdContrato)
            </th>
            <th>
                Propiedad
            </th>
            <th>
                Inquilino
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fecha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Importe)
            </th>
            <th> 
                Acciones
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdPago)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumeroPago)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Contrato.IdContrato)
            </td>
            <td>
                @(item.Contrato.Inmueble.Tipo + " " + item.Contrato.Inmueble.Direccion)
            </td>
            <td>
                @(item.Contrato.Inquilino.Nombre + item.Contrato.Inquilino.Apellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fecha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Importe)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdPago" title="Editar"><span class="lnr lnr-pencil"></span></a>&nbsp; |
                <a asp-action="Details" asp-route-id="@item.IdPago" title="Detalles"><span class="lnr lnr-eye"></span></a>&nbsp; |
                <a asp-action="Delete" asp-route-id="@item.IdPago" title="Eliminar"><span class="lnr lnr-cross"></span></a>
                
            </td>
        </tr>
}
    </tbody>
</table>


